
// @font-face {
//   font-family: 'Open Sans';
//   src: url(LemonMilk.otf) format('opentype');
// }


$primary: #000000;
$counter: #ffffff;
$secondary: #ff0000;

$text: rgb(193, 193, 193);

$button_background: #373737;
$button_text: #ff0000;

$selected: #3274e4;
$selected_background: #858585;

* {
  -fx-font-family: 'sans-serif';
  
}


.root {
  -fx-background-color: $primary;
  background-color: $primary;
  -fx-mid-text-color: $counter;
}
  
.separator {
  -fx-background-color: $counter !important
}

.button {
    -fx-background-color: transparent;
}

.button:hover {
  -fx-mid-text-color: $selected;
}

.menubutton {
  -fx-mid-text-color: $counter;
  -fx-font-weight: bold;
  -fx-font-size: 22px;
}

.menubutton:hover {
  -fx-background-color: $button_background;
  -fx-mid-text-color: $counter;
}

.title {
  -fx-mid-text-color: $selected  !important;
  -fx-font-size: 60px;
  -fx-font-weight: bold;
  // -fx-alignment: left;
}

.label {
  -fx-mid-text-color: $counter;
}

.playlistbtn {
  -fx-background-color: $button_background;
}
  
.scroll-pane {
  -fx-background-color: transparent;
}

.scroll-pane .viewport {
  -fx-background-color: $primary;
}

.songbtn {

}

.songlabel {

}

.selectedsong {

}

.slider {

}

.slider .track {
  // -progress : 0.2;
  // -fx-background-color: linear-gradient(to right, #2D819D -progress, #969696 -progress);
  // -fx-background-insets: 0 0 -1 0, 0, 1;
  // -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
  // -fx-padding: 0.25em; /* 3 */
}