
// @font-face {
//   font-family: 'Open Sans';
//   src: url(LemonMilk.otf) format('opentype');
// }

/* COLORS: */
$primary: #000000;
$secondary: #ffffff;
$tertiary: #9900ff;
$background: #373737;
$selected: #3274e4;

* {
  -fx-font-family: 'sans-serif';
}


.root {
  -fx-background-color: $primary;
  -fx-mid-text-color: $secondary;
}

.button {
    -fx-background-color: transparent;
}

.button:hover {
  -fx-mid-text-color: $selected;
}

.label {
  -fx-mid-text-color: $secondary;
  -fx-font-size: 20px;
}

.selected {
  -fx-mid-text-color: $selected !important;
  -fx-border-color: $selected !important;
}


.separator {
  -fx-background-color: $tertiary;
}

.menubutton {
  -fx-mid-text-color: $secondary;
  -fx-font-weight: bold;
  -fx-font-size: 22px;
}

.menubutton:hover {
  -fx-background-color: $background;
  -fx-mid-text-color: $secondary;
}

.title {
  -fx-mid-text-color: $secondary;
  -fx-font-size: 60px;
  -fx-font-weight: bold;
  // -fx-alignment: left;
}

.subtitle {
  -fx-mid-text-color: $secondary;
  -fx-font-size: 40px;
  // -fx-alignment: left;
}

.playlistbtn {
  -fx-font-size: 20px;
  -fx-border-width: 3px;
  -fx-border-color: $secondary;
}

.playlistbtn:hover {
  -fx-border-width: 3px;
  -fx-border-color: $selected;
  -fx-mid-text-color: $secondary;
}
 
.selectedplaylist {
  -fx-mid-text-color: $selected;
}

.scroll-pane {
  -fx-background-color: transparent;
}

.scroll-pane .viewport {
  -fx-background-color: $primary;
}

.songcontainer {
  -fx-alignment: center;
  -fx-background-color: transparent;
  -fx-border-width: 3px;
  -fx-border-color: $primary;
} 
.songcontainer:hover {
  -fx-alignment: center;
  -fx-background-color: transparent;
  -fx-border-width: 3px;
  -fx-border-color: $secondary;
  -fx-mid-text-color: $secondary;
}

.songbtn {
  -fx-border-width: 2px;
  -fx-border-radius: 2px;
  -fx-border-color: $tertiary ;
}

.songduration {
  -fx-font-size: 14px;
}

.songtitle {
  -fx-font-size: 20px;
}

.slider {

}

.slider .track {
  // -progress : 0.2;
  // -fx-background-color: linear-gradient(to right, #2D819D -progress, #969696 -progress);
  // -fx-background-insets: 0 0 -1 0, 0, 1;
  // -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
  // -fx-padding: 0.25em; /* 3 */
}