* {
  -fx-font-family: "sans-serif";
}

.root {
  -fx-background-color: #000000;
}

.btn {
  -fx-background-color: #b9b9b9 !important;
}

.scroll-pane {
  -fx-background-color: transparent;
}

.scroll-pane .viewport {
  -fx-background-color: #000000;
}

.title {
  -fx-mid-text-color: #0088ff !important;
  -fx-font-size: 60px;
  -fx-font-weight: bold;
}

.label {
  -fx-mid-text-color: rgb(193, 193, 193);
}

.separator {
  -fx-background-color: #0088ff !important;
}

.dark {
  -fx-background-color: black;
  background-color: black;
  -fx-mid-text-color: white;
}